<div class="details__container">
    <div class="details__slider owl-carousel js-slider-details">
      <div class="details__item">
        <div class="details__preview details__preview_cursor" data-aos="animation-scale">
          <div class="details__img"><img class="details__pic" src="/assets/img/content/cursor.png" alt=""></div>
        </div>
        <h5 class="details__category h5" data-aos="animation-scale-y">User Interface</h5>
        <div class="details__text" data-aos="animation-scale-y">We have got quite a few already made templates for better project management that you can use now.</div>
        <div class="details__btn" data-aos="animation-scale-y">
          <button class="btn btn_dark">Find out more </button>
        </div>
      </div>
      <div class="details__item">
        <div class="details__preview details__preview_hand" data-aos="animation-scale" data-aos-delay="150">
          <div class="details__img"><img class="details__pic" src="/assets/img/content/hand.png" alt=""></div>
        </div>
        <h5 class="details__category h5" data-aos="animation-scale-y" data-aos-delay="150">User Experience</h5>
        <div class="details__text" data-aos="animation-scale-y" data-aos-delay="150">We have got quite a few already made templates for better project management that you can use now.</div>
        <div class="details__btn" data-aos="animation-scale-y" data-aos-delay="150">
          <button class="btn btn_dark">Find out more </button>
        </div>
      </div>
      <div class="details__item">
        <div class="details__preview details__preview_color" data-aos="animation-scale" data-aos-delay="300">
          <div class="details__img"><img class="details__pic" src="/assets/img/content/color-picker.png" alt=""></div>
        </div>
        <h5 class="details__category h5" data-aos="animation-scale-y" data-aos-delay="300">UI Design Kit</h5>
        <div class="details__text" data-aos="animation-scale-y" data-aos-delay="300">We have got quite a few already made templates for better project management that you can use now.</div>
        <div class="details__btn" data-aos="animation-scale-y" data-aos-delay="300">
          <button class="btn btn_dark">Find out more </button>
        </div>
      </div>
      <div class="details__item">
        <div class="details__preview details__preview_cursor">
          <div class="details__img"><img class="details__pic" src="/assets/img/content/cursor.png" alt=""></div>
        </div>
        <h5 class="details__category h5">User Interface</h5>
        <div class="details__text">We have got quite a few already made templates for better project management that you can use now.</div>
        <button class="details__btn btn btn_dark">Find out more </button>
      </div>
      <div class="details__item">
        <div class="details__preview details__preview_hand">
          <div class="details__img"><img class="details__pic" src="/assets/img/content/hand.png" alt=""></div>
        </div>
        <h5 class="details__category h5">User Experience</h5>
        <div class="details__text">We have got quite a few already made templates for better project management that you can use now.</div>
        <button class="details__btn btn btn_dark">Find out more</button>
      </div>
      <div class="details__item">
        <div class="details__preview details__preview_color">
          <div class="details__img"><img class="details__pic" src="/assets/img/content/color-picker.png" alt=""></div>
        </div>
        <h5 class="details__category h5">UI Design Kit</h5>
        <div class="details__text">We have got quite a few already made templates for better project management that you can use now.</div>
        <button class="details__btn btn btn_dark">Find out more</button>
      </div>
    </div>
  </div>