<div class="details__figures">
    <div class="details__figure"><img class="details__pic js-parallax" data-scale="2" data-orientation="down" src="/assets/img/content/figure-1.png" alt=""></div>
    <div class="details__figure"><img class="details__pic js-parallax" data-scale="2" data-orientation="up" src="/assets/img/content/figure-2.png" alt=""></div>
    <div class="details__figure"><img class="details__pic js-parallax" data-scale="1.2" data-orientation="up" src="/assets/img/content/figure-3.png" alt=""></div>
  </div><a class="details__contact" href="#">Contact me</a>