<div class="footer">
    <div class="footer__center center">
        <div class="footer__body"><a class="footer__logo" href="index.html"><img class="footer__pic" src="/assets/img/logo-empty.svg" alt=""/></a>
        <div class="footer__wrap">
            <div class="footer__title h1">You only have one chance to make a first impression.</div>
            <div class="footer__info h4">Let’s make it an amazing one.</div>
        </div>
        <div class="footer__menu"><a class="footer__link" href="#">About Me</a><a class="footer__link" href="#">Projects</a><a class="footer__link" href="#">Contact</a><a class="footer__link" href="#">Dribbble</a><a class="footer__link" href="#">Instagram</a></div>
        </div>
        <div class="footer__bottom">
        <div class="footer__copyright">© 2020, UI8 LLC.</div><a class="footer__scroll js-scroll" href="#header">Back to top</a>
        </div>
    </div>
    <div class="footer__bg">
        <div class="footer__preview"><img class="footer__pic js-parallax" data-scale="1.5" data-orientation="down" src="/assets/img/content/footer-cube-1.png" alt=""/></div>
        <div class="footer__preview"><img class="footer__pic js-parallax" data-scale="1.8" data-orientation="up" src="/assets/img/content/footer-cube-1.png" alt=""/></div>
    </div>
</div>