<!-- Navigation -->
<nav>
  <div class="custom-container">
    <div class="logo">
      <h4>{{ icon }} albeertito7</h4>
    </div>
    <div class="nav-items">
      <ul>
        <li>
          <a class="nav-link" href="#">About</a>
        </li>
        <li>
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li>
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
    <button class="nav-toggler">
      <span class="nav-toggler-icon"></span>
    </button>
  </div>
</nav>