<div style="width: 100%; height: auto; flex: 1 1 auto;">
    <div id="myCanvasContainer" style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;">
        <canvas width="800" height="800" id="myCanvas"></canvas>
    </div>
    <div id="tags" style="font-size: 50% !important;">
        <a href="#" style="font-size: 18ex; pointer-events: none;">Javascript</a>
        <a href="#" style="font-size: 70px; pointer-events: none;">Python</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">Java</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">C#</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">PHP</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">Typescript</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">Kotlin</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">Dart</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">jQueryJS</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">ReactJS</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">VueJS</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">Angular</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">Django</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">ExpressJS</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">NodeJS</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">Spring</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">Android</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">Flutter</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">Heroku</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">Nginx</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">Netlify</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">Github Pages</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">Hostinger</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">MySQL</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">Bootstrap</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">CSS</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">SASS</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">HTML</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">Wordpress</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">REST</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">JSON</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">Git</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">MongoDB</a>
        <a href="#" style="font-size: 20px; pointer-events: none;">Graphs</a>
    </div>
</div>