<div class="work">
    <div class="work__circles"></div>
    <div class="work__center center">
      <div class="work__wrap">
        <div class="work__stage stage stage_pink" data-aos="animation-scale-y">Who I Work With</div>
        <h2 class="work__title title h1" data-aos="animation-scale-y" data-aos-delay="150">Art Direction for Global Leading Brands.</h2>
        <div class="work__text" data-aos="animation-scale-y" data-aos-delay="300">I research and create breakthrough - delightful ideas, leading visual designers.</div><a class="scroll js-scroll" data-aos="animation-scale-y" href="#cases">
          <div class="scroll__icon"><img class="scroll__pic" src="/assets/img/scroll.svg" alt=""></div>
          <div class="scroll__text">Scroll down</div></a>
      </div>
    </div>
    <div class="work__preview"><img class="work__pic js-parallax" data-scale="2" data-orientation="down" src="/assets/img/content/work-cube.png" alt=""></div>
    <div class="work__figures" data-aos>
      <div class="work__figure"><img class="work__pic js-parallax" data-scale="1.3" data-orientation="up" src="/assets/img/content/work-cube-1.png" alt=""></div>
      <div class="work__figure"><img class="work__pic js-parallax" data-scale="1.5" data-orientation="up left" src="/assets/img/content/work-cube-2.png" alt=""></div>
      <div class="work__figure"><img class="work__pic js-parallax" data-scale="1.3" data-orientation="up right" src="/assets/img/content/work-cube-3.png" alt=""></div>
      <div class="work__figure"><img class="work__pic" src="/assets/img/content/work-cube-4.png" alt=""></div>
      <div class="work__figure"><img class="work__pic js-parallax" data-scale="1.1" data-orientation="left" src="/assets/img/content/work-cube-5.png" alt=""></div>
      <div class="work__figure"><img class="work__pic js-parallax" data-scale="1.2" data-orientation="right" src="/assets/img/content/work-cube-6.png" alt=""></div>
      <div class="work__figure"><img class="work__pic js-parallax" data-scale="1.2" data-orientation="down" src="/assets/img/content/work-cube-7.png" alt=""></div>
    </div>
  </div>