.scroll {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: #111029; }
    @media only screen and (max-width: 1279px) {
      .scroll {
        font-size: 14px; } }
    .scroll__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: 80px;
      height: 80px;
      margin-right: 24px;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0 5px 20px rgba(17, 16, 41, 0.05);
      font-size: 0;
      transition: transform .25s; }
      @media only screen and (max-width: 1279px) {
        .scroll__icon {
          width: 56px;
          height: 56px;
          margin-right: 16px; } }
      @media only screen and (max-width: 767px) {
        .scroll__icon {
          box-shadow: 0 10px 25px rgba(17, 16, 41, 0.1); } }
    @media only screen and (max-width: 1279px) {
      .scroll__pic {
        width: 16px; } }
    .scroll:hover .scroll__icon {
      transform: translateY(3px); }