<!-- Main Navigation -->
<div class="nav js-nav" id="nav">
  <div class="nav-items center">
    <ul class="nav-links nav-links_main">
      <li>
        <a class="nav-link" href="https://github.com/albeertito7" target="_blank"><img class="icon" src="/assets/img/icons/github.svg" alt="Github profile link" width="20"/>Github</a>
      </li>
      <li>
        <a class="nav-link" href="https://es.linkedin.com/in/albert-p%C3%A9rez-datsira" target="_blank"><img class="icon" src="/assets/img/icons/linkedin.svg" alt="LinkedIn link" width="20"/>LinkedIn</a>
      </li>
      <li>
        <a class="nav-link" href="https://www.instagram.com/albeertito7" target="_blank"><img class="icon" src="/assets/img/icons/instagram.svg" alt="Instagram link" width="20"/>Instagram</a>
      </li>
    </ul>
    <button class="nav-burger js-nav-burger"></button>
  </div>

  <!--
  <div class="header__wrapper js-nav-wrapper">
    <ul class="nav-links-burger">
      <li data-aos="transform" data-aos-delay="150">
        <a class="nav-link" href="https://github.com/albeertito7" target="_blank"><img class="icon" src="/assets/img/icons/github.svg" alt="Github profile link"/>Github</a>
      </li>
      <li data-aos="transform" data-aos-delay="300">
        <a class="nav-link" href="https://es.linkedin.com/in/albert-p%C3%A9rez-datsira" target="_blank"><img class="icon" src="/assets/img/icons/linkedin.svg" alt="LinkedIn link"/>LinkedIn</a>
      </li>
      <li data-aos="transform" data-aos-delay="450">
        <a class="nav-link" href="https://www.instagram.com/albeertito7" target="_blank"><img class="icon" src="/assets/img/icons/instagram.svg" alt="Instagram link"/>Instagram</a>
      </li>
    </ul>
  </div>
  -->

</div>