<style>
    #whats-contact {
        position: absolute;
        z-index: 999;
        bottom: 40px;
        right: 40px;
        background: white;
        border-radius: 50px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<a href="https://wa.me/34648843021" target="_blank">
    <div id="whats-contact">
        <img class="icon" src="../assets/img/icons/whatsapp.svg" alt="Whatsapp link" width="40" height="40"/>
    </div>
</a>